//Colors
$primary: #3136EB;
$primary-light: #E4F3F4;
$secondary: #6822D4;
$secondary-light: #E1C2ED;
$danger: #EB0915;

$text-link: #0366d6;
$green-light: #CDFCA9;
$max-cel-screen: 800px;
$gray: #dbdbdb;
$text-white: white;

